In [1]:
# Road_Map of the task

# first extract the data from pdf images
# create the labled data set using collecting the data

# Collecting the data

In [16]:
import pandas as pd
import PyPDF2
import os
import warnings
warnings.filterwarnings('ignore')

In [17]:
file_path = r"D:\Data Science(Ekeeda)\Projects\document_classsification\fwpurchaseinvoice\01.pdf"


with open(file_path, "rb") as file:
    data = PyPDF2.PdfReader(file)
    page = data.pages[0]
    text = page.extract_text()
    print(len(text))

1812

In [18]:
path = r"D:\Data Science(Ekeeda)\Projects\document_classsification\fwpurchaseinvoice"

def pdf_to_Data(path,label):
    pdf_text_list = [] 

    for filename in os.listdir(path):
        file_path = os.path.join(path, filename)
        if filename.endswith('.pdf'):
            with open(file_path, "rb") as file:
                pdf_reader = PyPDF2.PdfReader(file)
                pdf_text = "" 
                for i in range(len(pdf_reader.pages)):
                    page = pdf_reader.pages[i]
                    pdf_text += page.extract_text()
                    pdf_text_list.append(pdf_text)
    
    data = pd.DataFrame(pdf_text_list,columns=['Text'])
    for i in range(len(data["Text"])):
        data['Label'] = label
    
    return data

In [19]:
purchase_invoice_data = pdf_to_Data(path,1)

PdfReadError("Invalid Elementary Object starting with b'\\x00' @2736: b'ProcSet [/PDF /Text \\x00\\x00/ImageB]\\r\\n/Font <<\\r\\n/F2 11 0 R\\r\\n/F1 7 0 R\\r\\n/F4 13 0 R\\r\\n/F3'")
 impossible to decode XFormObject /Im1

In [20]:
purchase_invoice_data.head()

                                                Text  Label
0  Tax Invoice\nPBR NETWORKING SOLUTION\nPLOT NO....      1
1  Tax Invoice cum Delivery Challan \n(Original) ...      1
2  GST TAX INVOICE\nAadhar Electronics\n69/57, V....      1
3  Printed on 23-Jun-23 at 13:41Tax Invoice\nBina...      1
4  �����������\n�����������������������������\n��...      1

In [41]:
sales_invoice_data = pdf_to_Data(r"D:\Data Science(Ekeeda)\Projects\document_classsification\fwsalesinvoice",0)

In [43]:
sales_invoice_data

                                                 Text  Label
0   Tax Invoice\nIRN :54bb0147c70619b645ee1425d3b4...      0
1   Tax Invoice\nIRN :54bb0147c70619b645ee1425d3b4...      0
2   Tax Invoice\nIRN :34e5f30cbdebad292553010c9e50...      0
3   Tax Invoice\nIRN :f4dee3e2b2dd974fb9a0eae90a3d...      0
4   Tax Invoice\nIRN :f4dee3e2b2dd974fb9a0eae90a3d...      0
5   Tax Invoice\nIRN :af3d5e1550c90ff2776519a6260c...      0
6   Tax Invoice\nB M Infotrade Private Limited\n53...      0
7   Tax Invoice\nB M Infotrade Private Limited\n53...      0
8   Tax Invoice\nIRN :78d3c05a9648ad03726e943dafaf...      0
9   Tax Invoice\nIRN :313e444837f4f05b538cae7f071b...      0
10  Tax Invoice\nIRN :66f48af02e9b70d4aa1df943915d...      0
11  Tax Invoice\nIRN :66f48af02e9b70d4aa1df943915d...      0
12  Tax Invoice\nIRN :66f48af02e9b70d4aa1df943915d...      0
13  Tax Invoice\nIRN :bf5c6f92c11532178c4af74dee57...      0
14  Tax Invoice\nIRN :e08bc0855bf39dda285351541242...      0
15  Tax Invoice\nIRN :1f9decd4eb6e823a7fb4dd90eb08...      0

In [13]:
invoice_data = pd.concat([sales_invoice_data,purchase_invoice_data],ignore_index=True)

In [40]:
invoice_data.head()

                                                Text  Label
0  Tax Invoice\nIRN :54bb0147c70619b645ee1425d3b4...      0
1  Tax Invoice\nIRN :54bb0147c70619b645ee1425d3b4...      0
2  Tax Invoice\nIRN :34e5f30cbdebad292553010c9e50...      0
3  Tax Invoice\nIRN :f4dee3e2b2dd974fb9a0eae90a3d...      0
4  Tax Invoice\nIRN :f4dee3e2b2dd974fb9a0eae90a3d...      0

In [54]:
data  = sales_invoice_data["Text"][0]

In [61]:
import re

company_name_pattern = r"e-Invoice\\n(.*?) (?:Ltd\.|Limited)\\n"

matches = re.findall(company_name_pattern, data)

print("Company Names:")
print(matches)

Company Names:
[]

In [59]:
company_name_pattern = r"e-Invoice\\n(.*?)(?:Limited|Ltd)\\n"

mail_ids = []

for text in sales_invoice_data['Text']:

    mail_match = re.search(mail_id_pattern, text)
    if mail_match:
        mail_id = mail_match.group()
        mail_ids.append(mail_id)
        
print("Mail IDs:")
print(mail_ids)

Mail IDs:
['beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com', 'beena@bmtraders.com']